.deps/
obj/
autom4te.cache/
*~
.*.swp
*.o
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
depcomp
INSTALL
install-sh
Makefile
Makefile.in
missing
mksignal
mkstatval
parse.c
parse.h
calc.h
calc.c
rc
sigmsgs.c
sigmsgs.h
stamp-h1
statval.h
tripping
ylwrap
