.deps/
obj/
aclocal.m4
autom4te.cache/
*~
*.o
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
.deps
INSTALL
install-sh
Makefile
Makefile.in
missing
mksignal
mkstatval
*.o
parse.c
parse.h
calc.tab.h
calc.tab.c
rc
sigmsgs.c
sigmsgs.h
stamp-h1
statval.h
tripping
ylwrap
