.deps/
obj/
autom4te.cache/
*~
.*.swp
*.o
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
depcomp
INSTALL
install-sh
Makefile
Makefile.in
missing
sigmsgs.[ch]
statval.h
version.h
history
mksignal
mkstatval
calc.h
calc.c
stamp-h1
rc
tripping
