#! /usr/bin/env rc

Script=$0
fn Error { echo >[1=2] $* }
fn Fatal { Error $*; exit 1 }
fn Usage { Fatal Usage: $Script '[--if|--switch|--file|--all|--echo]' '<POSITIVE_NUMBER>' }

DO_IF     = false
DO_SWITCH = false
DO_FILE   = false
ECHO_CMD  = false
###########################################################################
while (! ~ $#* 0) {
    switch (x$1) {
    case x-if x--if;
        DO_IF = true
    case x-switch x--switch x-case x--case;
        DO_SWITCH = true
    case x-file x--file x-ls x--ls;
        DO_FILE = true
    case x-all x--all
        DO_IF = true
        DO_SWITCH = true
        DO_FILE = true
    case x-echo x--echo;
        ECHO_CMD = true
    case *;
        break
    }
    shift
}

###########################################################################
~ $#* 1        || Usage
calc N=$1      || Usage
calc $N '<=' 0 && Usage

###########################################################################
str=''
i=0
while (calc $i '<' 100) {
    str=$str^a
    calc i=$i+1
}

###########################################################################
pat=''

i=0
while (calc $i '<' $N) {
    pat=$pat^'a*'
    calc i=$i+1
}
pat=$pat^'b'
###########################################################################

echo 'shell=rc, N='$N

fn EvalCmd { cmd=$* {
    if ($ECHO_CMD) {
        echo Cmd: $cmd
        echo -n 'Result: '
    }
    eval $cmd
}}

###########################################################################
###########################################################################
if ($DO_IF) {
    cmd = 'if (~ '$str' '$pat') { echo if: yes match } else { echo if: no match }'
    EvalCmd $cmd
}

#--------------------------------------------------------------------------
if ($DO_SWITCH) {
    cmd = 'switch ('$str') { case '$pat'; echo case: yes match; case *; echo case: no match }'
    EvalCmd $cmd
}

#--------------------------------------------------------------------------
if ($DO_FILE) {
    test -f $str || touch $str
    cmd='ls '^$pat

    EvalCmd $cmd

    rm -f $str
}

