str=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

N=$1
i=0
pat=''

while (calc $i '<' $N) {
    pat=$pat^'a*'
    calc i=$i+1
}
pat=$pat^'b'

cmd = 'if (~ '$str' '$pat') { echo if-yes } else { echo if-no }'
#echo $cmd
eval $cmd

cmd = 'switch ('$str') { case '$pat'; echo case-yes; case *; echo case-no }'
#echo $cmd; echo
eval $cmd

