#! /usr/bin/env rc

Script=$0
fn Error { echo >[1=2]$* }
fn Fatal { Error $*; exit 1 }
fn Usage { Fatal Usage: $Script '[-if|-switch|-file|-echo]' '<POSITIVE_NUMBER>' }

DO_IF     = false
DO_SWITCH = false
DO_FILE   = false
ECHO_CMD  = false
###########################################################################
while (! ~ $#* 0) {
    switch (x$1) {
    case x-if;     DO_IF = true
    case x-switch; DO_SWITCH = true
    case x-file;   DO_FILE = true
    case x-echo;   ECHO_CMD = true
    case *;        break
    }
    shift
}

###########################################################################
~ $#* 1        || Usage
calc N=$1      || Usage
calc $N '<=' 0 && Usage

###########################################################################
str='aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'

i=0
pat=''
###########################################################################
while (calc $i '<' $N) {
    pat=$pat^'a*'
    calc i=$i+1
}
pat=$pat^'b'

echo 'shell=rc, N='$N

fn EvalCmd { cmd=$1 {
    if ($ECHO_CMD) {
        echo $cmd
    }
    eval $cmd
}}

###########################################################################
###########################################################################
if ($DO_IF) {
    cmd = 'if (~ '$str' '$pat') { echo if-yes } else { echo if-no }'
    EvalCmd $cmd
}

#--------------------------------------------------------------------------
if ($DO_SWITCH) {
    cmd = 'switch ('$str') { case '$pat'; echo case-yes; case *; echo case-no }'
    EvalCmd $cmd
}

#--------------------------------------------------------------------------
if ($DO_FILE) {
    test -f $str || touch $str
    s='ls '^$pat
    time rc -c $s
}

